@media (max-width: 1024px) {

    .product__items{
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 768px) {
    .category-btn{
        font-size: 12px;
        padding: 3px 8px!important;
    }
    .container{
        max-width: 660px!important;
    }
    .header {
        height: 349px;
    }

    .header::before {
        width: 2540px;
        height: 2540px;
    }

    .header__inner {
        gap: 10px;
    }

    .header__img {
        width: 227px;
        height: 229px;
    }

    .header__text {
        gap: 26px;
        top: 27px;
    }

    .header__title > span {
        font-size: 36px;
    }

    .header__title {
        font-size: 36px;
    }

    .header__subtitle {
        font-size: 12px;
    }
    .nav__items{
        gap: 12px;
    }
    .card {
        height: 50px;
        margin-top: unset;
    }

    .card__container {
        max-width: 300px;
        padding: 16px 10px;
        border-radius: 12px;
        transition: all ease 1s;
        position: relative;
    }

    .card__title {
        gap: 27px;
        margin-bottom: unset;
    }

    .card__title > h3 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    ._active-card {
        position: absolute;
        border-radius: 12px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    }

    ._active-card > .card__title {
        margin-bottom: 8px;
    }

    .card__container {
        overflow: hidden;
        max-width: 280px;
    }

    .card__body {
        transition: width .5s, height .5s 0s, opacity ease .5s;
        opacity: 0;
        height: 0;
        max-height: 350px;
        width: 0;
    }

    ._active-card > .card__body {
        transition: width .25s 0s, opacity ease 2s;
        opacity: 1;
        height: 100%;
        width: 280px;
        overflow: scroll;
    }

    .card__goods {
        margin-bottom: 13px;
    }

    .good {
        padding: 12px 0;
        width: 100%;
    }

    .good__count {
        width: 74px;
        height: 30px;
        font-size: 12px;
    }

    .card__amount {
        font-size: 12px;
        margin-bottom: 19px;
    }

    .order-btn {
        font-size: 12px;
    }

    .card__delivery {
        font-size: 12px;
    }
    .main__container{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        padding-top: 30px!important
    }
    .product__items {
        display: grid;
        grid-template-columns: repeat(4, 145px);
    }
    .product__img {
        width: 100%;
        height: 120px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    .product__item {
        border-radius: 12px;
        padding: 4px;
    }

    .product__price {
        font-size: 16px;
        margin-bottom: 4px;
    }
    .product__price:after {
        content: '₽';
    }
    .product__category{
        font-size: 28px;
        margin-bottom: 16px;

    }
    .product__name{
        font-size: 12px;
        margin-bottom: 16px;
    }
    .product__weight {
        font-size: 12px;
        display: block;
        margin-bottom: 7px;
    }
    .add-btn{
        font-size: 12px!important;
        padding: 9px!important;
    }


    .popup {
    }

    .popup__container {
        padding: 16px 16px 24px 16px;
            width: 524px;
    }

    .popup__header {
        margin-bottom: 16px;
    }

    .popup__title {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    .popup__close-btn {
    }

    .popup__body {
        margin-bottom: 24px;
        gap: 8px;
    }

    .popup__img {
        min-width: 226px;
        height: 180px;
    }

    .popup__info {
    }

    .info {
    }

    .info__text {
        font-size: 12px;
    }

    .popup__footer {
        height: 30px;
        gap: 8px
    }

    .popup_add-btn {
        font-size: 12px;
        width: 218px;
        padding: 9px;
        border-radius: 8px;
    }

.popup__count{
    border-radius: 8px;
}

    .popup__price {
        font-size: 16px;
        line-height: 130%;
    }
}
    @media (max-width: 560px) {
        .header {
            height: 459px;
        }

        .header__inner {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }

        .header__logo {
            margin: 21px 0;
        }

        .header__title > span {
            font-size: 30px;
        }

        .header__title {
            font-size: 30px;
        }

        .header__subtitle {
            font-size: 16px;
        }

        .header__text {
            gap: 16px;
            top: unset;
        }

        .header__inner {
            gap: 19px;
        }

        /*======= HEADER =======*/


        .product__items {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

    }
@media (max-width: 460px) {
    .product__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .popup{
        display: unset;
    }
    .popup__container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-radius: 0!important;
    }
    .popup__header{
        margin-bottom: 12px;
    }
    .popup__body{
        flex-direction: column;
        margin-bottom: auto;
    }
    .popup__img{
        flex-grow: 1;
        height: 232px;
    }
    .popup__footer{
    }

    .popup_add-btn{
        max-width: 218px;
        flex: 1;
    }
    .popup__count{
        margin: 0;
    }
}
    @media (max-width: 320px) {
        .header::before {
            width: 611px;
            height: 611px;
        }
        .card {
            width: 100%;
        }
        .card__container{
            width: 100%;
        }
        .card__body {
            width: 100%;
        }
        ._active-card > .card__body{
            width: 100%;
        }
        .product__items {
            grid-template-columns: repeat(2, 145px);
            gap: 10px;
        }

    }